<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::head(title='You are too slow')"></head>
<body>
<th:block th:replace="base::navbar" />
<style>
    html,body{
        height:100%;
    }
    h1{
        font-size: 72px;
    }
    h2{
        font-size: 64px;
    }
</style>
<div class="container-fluid h-100">
    <div class="row h-50">
        <div class="col my-auto">
            <h1 class="text-info text-center">&#9855</h1>
            <h2 class="text-info text-center">&#9855 413 &#9855</h2>
            <h3 class="text-center">&#9855 Вы не самая быстрая рука на диком западе... &#9855</h3>
            <img style="width: 430px; height: 490px" class="rounded mx-auto d-block" src="/images/disabled.jpg"/>
        </div>
    </div>
</div>

<th:block th:insert="base::scripts" />
</body>
</html>