<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="base::head(title='Lot')"></head>
<body>
<th:block th:replace="base::navbar" />
    <!--Main layout-->
    <main class="mt-1 pt-4">
        <div class="container dark-grey-text mt-5">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col my-auto">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div th:if="${lot.photoUrls.isEmpty()}">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 h-100" th:src="'/images/no-image-icon.png'" th:alt="'Нет картинки'">
                                </div>
                            </div>
                            <div th:unless="${lot.photoUrls.isEmpty()}">
                                <div th:class="${iter.index} == 0 ? 'carousel-item active' : 'carousel-item'" th:each="photo, iter : ${lot.photoUrls}">
                                    <img class="d-block w-100 h-100" th:src="${photo}" th:alt="${iter.index} + ' картинка'">
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <!--Content-->
                    <div class="p-3">
                        <hr>

                        <h1 th:text="${lot.name}">Card title</h1>
                        <h3>Владелец: <span th:text="${lot.userDto.username}">Владелец</span></h3>
                        <h4>Категория: <span class="badge badge-info badge-pill" th:text="${lot.category.name}">Категория</span></h4>
                        <h4>Состояние: <span class="badge badge-info badge-pill" th:text="${lot.condition.name}">Состояние</span></h4>
                        <h4>Город: <span class="badge badge-info badge-pill" th:text="${lot.city.name}">Город</span></h4>
                        <h1><span class="badge badge-light" style="font-size:40px"><span th:text="${lot.currentPrice}">Цена</span> &#x20bd</span></h1>

                        <hr>

                        <h5>Описание:</h5>
                        <p th:text="${lot.description}">Desc</p>

                        <!-- Button trigger modal -->
                        <div th:if="${#authorization.authentication.name.equals(lot.userDto.username)}">
                            <form action="/account" method="GET">
                                <button class="btn btn-lg btn-warning btn-rounded" type="submit">
                                    В аккаунт
                                    <i class="fas fa-user-astronaut ml-1"></i>
                                </button>
                            </form>
                        </div>
                        <div th:unless="${#authorization.authentication.name.equals(lot.userDto.username)}">
                            <button class="btn btn-lg btn-primary btn-rounded btn-block p-2" data-toggle="modal" data-target="#modalBuyLot" type="button" onclick="this.blur();">
                                Купить
                                <i class="fas fa-shopping-cart ml-1"></i>
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="modalBuyLot" tabindex="-1" role="dialog" aria-labelledby="modalBuyLotTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalBuyLotLongTitle">Покупка</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Подтверждение покупки
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Нет</button>
                                        <form method="POST" th:action="@{/lot/buy}">
                                            <input type="hidden" name="lotId" th:value="${lot.id}">
                                            <button type="submit" class="btn btn-primary">Да</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Content-->
                </div>
                <!--Grid column-->
            </div>
        </div>
    </main>
    <!--Main layout-->
<th:block th:insert="base::scripts" />
</body>
</html>